* {
  margin: 0;
  padding: 0;
}

.carousel .carousel-item {
  height: 400px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}

#locName {
  text-align: center;
}

#description,
#highlights,
#reviews {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

#testimonialContainer {
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px;
}
